In [429]:
# Load dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine, text
import pymc as pm
import arviz as az
from scipy.stats import zscore

# Define the SQLalchemy engine
engine = create_engine(f"sqlite:////Users/JO/PhD/neuro-ascertainment/data/db.sqlite")

# Read the SQL query from the file
with open('/Users/JO/PhD/neuro-ascertainment/candidate-queries/karolinska-nsicu-cohort/karolinska-cohort.sql', 'r') as file:
    query = file.read()

SEED = 20
rng = np.random.default_rng(SEED)

In [409]:
query_PAR_HADM = query + "SELECT * FROM PAR_HADM"
PAR_HADM = pd.read_sql(query_PAR_HADM, engine)

In [410]:
def count_id(df):
    LopNr = df['LopNr'].nunique() if 'LopNr' in df else 'Column missing'
    VtfId_LopNr = df['VtfId_LopNr'].nunique() if 'VtfId_LopNr' in df else 'Column missing'
    HADM_ID = df['HADM_ID'].nunique() if 'HADM_ID' in df else 'Column missing'
    return print(f'Unique patients: {LopNr} | Unique SIR admits: {VtfId_LopNr} | Unique PAR admits: {HADM_ID}')

In [411]:
count_id(PAR_HADM)

Unique patients: 59333 | Unique SIR admits: Column missing | Unique PAR admits: 359305

In [412]:
query_K_ICU_ADMISSIONS = query + "SELECT * FROM K_ICU_ADMISSIONS"
K_ICU_ADMISSIONS = pd.read_sql(query_K_ICU_ADMISSIONS, engine)

In [413]:
count_id(K_ICU_ADMISSIONS)

Unique patients: 6454 | Unique SIR admits: 7673 | Unique PAR admits: Column missing

In [414]:
query_K_ICU_ADMISSIONS_MATCHED_WITH_PAR = query + "SELECT * FROM K_ICU_ADMISSIONS_MATCHED_WITH_PAR"
K_ICU_ADMISSIONS_MATCHED_WITH_PAR = pd.read_sql(query_K_ICU_ADMISSIONS_MATCHED_WITH_PAR, engine)

In [415]:
count_id(K_ICU_ADMISSIONS_MATCHED_WITH_PAR)

Unique patients: 5649 | Unique SIR admits: 6498 | Unique PAR admits: 6621

In [416]:
query_K_ICU_ADMISSIONS_MATCHED_WITH_PAR_WITH_DX = query + "SELECT * FROM K_ICU_ADMISSIONS_MATCHED_WITH_PAR_WITH_DX"
K_ICU_ADMISSIONS_MATCHED_WITH_PAR_WITH_DX = pd.read_sql(query_K_ICU_ADMISSIONS_MATCHED_WITH_PAR_WITH_DX, engine)

In [417]:
count_id(K_ICU_ADMISSIONS_MATCHED_WITH_PAR_WITH_DX)

Unique patients: 5649 | Unique SIR admits: 6498 | Unique PAR admits: 6621

In [418]:
K_ICU_ADMISSIONS_MATCHED_WITH_PAR_WITH_DX

,VtfId_LopNr,LopNr,InskrTidPunkt,UtskrTidPunkt,LopNr:1,indexdatum1,indexdatum2,indexdatum3,indexdatum4,indexdatum5,...,OPD28,OPD29,OPD30,LK,slutrapporterad,HADM_ID,HADM_ID:1,LopNr:2,Diagnos:1,DX_GROUP
0,175619.0,33177.0,1606887420,1607366520,33177.0,18598,18609.0,NaN,NaN,NaN,...,None,None,None,0182,NaN,183658,183658,33177.0,S3280 S8290 S831 S2720 S2240 C900 I489 I109 N1...,OTHER
1,175620.0,33177.0,1607879820,1609839480,33177.0,18598,18609.0,NaN,NaN,NaN,...,None,None,None,0182,NaN,183660,183660,33177.0,J969 J958A C900 I109 N189 I489 A410 Z930,OTHER
2,175617.0,21183.0,1609025100,1609623000,21183.0,18622,NaN,NaN,NaN,NaN,...,None,None,None,0180,NaN,117964,117964,21183.0,I608 S8260 I639 J9690 G819 R470 R139,ASAH
3,176206.0,33694.0,1610649900,1612279200,33694.0,18641,18641.0,NaN,NaN,NaN,...,None,None,None,0180,NaN,186729,186729,33694.0,S065 S020 F102A Z930 R139 Z720A,TBI
4,176749.0,14417.0,1610759340,1611749700,14417.0,18643,18659.0,NaN,NaN,NaN,...,None,None,None,0180,NaN,80792,80792,14417.0,U071 J128 R651 J809B I109 I693 N179 N183 G728 ...,OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7300,145337.0,12526.0,1475668260,1477704540,12526.0,17078,17079.0,NaN,NaN,NaN,...,None,None,None,0136,NaN,70328,70328,12526.0,J809X J172 B599 M332 J969 E119 E039 I109 G473 ...,OTHER
7301,144960.0,12526.0,1475607660,1475638200,12526.0,17078,17079.0,NaN,NaN,NaN,...,None,None,None,0136,NaN,70328,70328,12526.0,J809X J172 B599 M332 J969 E119 E039 I109 G473 ...,OTHER
7302,146669.0,14255.0,1482789960,1483287600,14255.0,17161,17161.0,NaN,NaN,NaN,...,None,None,None,0123,NaN,79829,79829,14255.0,G001 J014 Z721 F319 F419,ABM
7303,146638.0,14255.0,1482769200,1482789960,14255.0,17161,17161.0,NaN,NaN,NaN,...,None,None,None,0123,NaN,79829,79829,14255.0,G001 J014 Z721 F319 F419,ABM
7304,146639.0,52516.0,1483123440,1483378800,52516.0,17165,NaN,NaN,NaN,NaN,...,None,None,None,0180,NaN,291536,291536,52516.0,A403 R572 I460 G931 R189 E119 N184 I109 I489 Z...,OTHER

In [419]:
query_DESCRIPTIVE = query + "SELECT * FROM DESCRIPTIVE "
DESCRIPTIVE  = pd.read_sql(query_DESCRIPTIVE, engine)

In [420]:
count_id(DESCRIPTIVE)

Unique patients: 5649 | Unique SIR admits: 6498 | Unique PAR admits: 6621

In [421]:
result = DESCRIPTIVE.groupby('DX_GROUP', dropna=False).agg({'DX_GROUP': 'size', 'age': 'mean', 'sex_female': 'mean', 'SAPS_GCS': 'median', 'd30': 'mean', 'any_AMV': 'mean', 'MVO': lambda x: x.mode().iloc[0] if not x.mode().empty else None})
result = result.rename(columns={'DX_GROUP': 'count'})
result

          count        age  sex_female  SAPS_GCS       d30   any_AMV  MVO
DX_GROUP
ABM         245  55.648980    0.493878      12.0  0.159184  0.771429  121
AIS         548  62.244526    0.304745      10.0  0.251825  0.843066  221
ASAH       1398  57.694564    0.639485      14.0  0.121602  0.615880  331
AVM          45  47.422222    0.533333      15.0  0.044444  0.533333  331
CFX         300  60.833333    0.260000      15.0  0.106667  0.706667  331
CVT          23  43.956522    0.434783      11.0  0.173913  0.521739  221
ENC          44  46.659091    0.431818      10.0  0.068182  0.795455  121
HC           62  56.306452    0.580645      11.0  0.080645  0.822581  331
ICH         743  58.663526    0.401077       8.0  0.309556  0.846568  331
OTHER      2092  55.221797    0.339388      13.0  0.186902  0.768642  301
SDH         146  60.582192    0.294521      12.0  0.219178  0.726027  331
SEP         170  54.252941    0.447059      10.0  0.011765  0.835294  221
TBI        1336  54.858533    0.258234      10.0  0.182635  0.812126  301
TUM         153  51.549020    0.444444      11.0  0.163399  0.758170  331

In [422]:
DESCRIPTIVE[DESCRIPTIVE.DX_GROUP != "OTHER"].VtfId_LopNr.nunique()

4748

In [423]:
K_ICU_ADMISSIONS_MATCHED_WITH_PAR_WITH_DX.columns

Index(['VtfId_LopNr', 'LopNr', 'InskrTidPunkt', 'UtskrTidPunkt', 'LopNr:1',
       'indexdatum1', 'indexdatum2', 'indexdatum3', 'indexdatum4',
       'indexdatum5', 'indexdatum6', 'indexdatum7', 'indexdatum8',
       'indexdatum9', 'indexdatum10', 'indexdatum11', 'indexdatum12',
       'indexdatum13', 'indexdatum14', 'indexdatum15', 'indexdatum16',
       'indexdatum17', 'indexdatum18', 'indexdatum19', 'indexdatum20',
       'indexdatum21', 'indexdatum22', 'indexdatum23', 'indexdatum24',
       'indexdatum25', 'indexdatum26', 'AR', 'KON', 'ALDER', 'LKF', 'SJUKHUS',
       'MVO', 'INDATUMA', 'UTDATUMA', 'INDATUM', 'UTDATUM', 'VTID', 'UTSATT',
       'PVARD', 'HDIA', 'DIAGNOS', 'EKOD1', 'OP', 'EKOD2', 'OPD1', 'OPD2',
       'OPD3', 'OPD4', 'OPD5', 'OPD6', 'OPD7', 'OPD8', 'OPD9', 'OPD10',
       'OPD11', 'OPD12', 'NATION', 'EKOD3', 'EKOD4', 'EKOD5', 'OPD13', 'OPD14',
       'OPD15', 'OPD16', 'OPD17', 'OPD18', 'OPD19', 'OPD20', 'OPD21', 'OPD22',
       'OPD23', 'OPD24', 'OPD25', 'OPD26', 'OPD27', 'OPD28', 'OPD29', 'OPD30',
       'LK', 'slutrapporterad', 'HADM_ID', 'HADM_ID:1', 'LopNr:2', 'Diagnos:1',
       'DX_GROUP'],
      dtype='object')

In [424]:
small_d = K_ICU_ADMISSIONS_MATCHED_WITH_PAR_WITH_DX[['VtfId_LopNr','InskrTidPunkt', 'UtskrTidPunkt', 'HADM_ID', 'MVO', 'LopNr', 'INDATUM', 'UTDATUM', 'DX_GROUP', 'DIAGNOS']]
small_d['INDATUM'] = pd.to_datetime(small_d['INDATUM'], unit='D')
small_d['UTDATUM'] = pd.to_datetime(small_d['UTDATUM'], unit='D')
small_d['InskrTidPunkt'] = pd.to_datetime(small_d['InskrTidPunkt'], unit='s').dt.normalize()
small_d['UtskrTidPunkt'] = pd.to_datetime(small_d['UtskrTidPunkt'], unit='s').dt.normalize()

/var/folders/s_/hnbjtb757x10k0pyf6_x_9mw0000gn/T/ipykernel_28597/2738441501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_d['INDATUM'] = pd.to_datetime(small_d['INDATUM'], unit='D')
/var/folders/s_/hnbjtb757x10k0pyf6_x_9mw0000gn/T/ipykernel_28597/2738441501.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_d['UTDATUM'] = pd.to_datetime(small_d['UTDATUM'], unit='D')
/var/folders/s_/hnbjtb757x10k0pyf6_x_9mw0000gn/T/ipykernel_28597/2738441501.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_d['InskrTidPunkt'] = pd.to_datetime(small_d['InskrTidPunkt'], unit='s').dt.normalize()
/var/folders/s_/hnbjtb757x10k0pyf6_x_9mw0000gn/T/ipykernel_28597/2738441501.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_d['UtskrTidPunkt'] = pd.to_datetime(small_d['UtskrTidPunkt'], unit='s').dt.normalize()

In [425]:
filtered_df = small_d[small_d.groupby('VtfId_LopNr')['VtfId_LopNr'].transform('size') > 1]

In [426]:
filtered_df['timediff_to_sir'] = filtered_df['InskrTidPunkt'] - filtered_df['INDATUM']

/var/folders/s_/hnbjtb757x10k0pyf6_x_9mw0000gn/T/ipykernel_28597/1472895862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['timediff_to_sir'] = filtered_df['InskrTidPunkt'] - filtered_df['INDATUM']

In [430]:
check_vtf = rng.choice(filtered_df['VtfId_LopNr'], 1)
filtered_df.query("VtfId_LopNr == check_vtf")

,VtfId_LopNr,InskrTidPunkt,UtskrTidPunkt,HADM_ID,MVO,LopNr,INDATUM,UTDATUM,DX_GROUP,DIAGNOS,timediff_to_sir
7155,112100.0,2011-11-26,2011-12-01,231545,221,41651.0,2011-11-24,2011-12-02,ICH,I613 I109 E119,2 days
7156,112100.0,2011-11-26,2011-12-01,231544,331,41651.0,2011-11-20,2011-11-24,ICH,I613 I109 E669,6 days
7167,159834.0,2018-11-05,2018-11-07,292196,221,52629.0,2018-11-07,2018-11-13,ICH,I619 I675,-2 days
7168,159834.0,2018-11-05,2018-11-07,292195,331,52629.0,2018-11-05,2018-11-07,ICH,I619 I675,0 days
7174,159362.0,2018-10-02,2018-10-07,332763,107,59783.0,2018-09-23,2018-09-24,OTHER,I959 N185 Z936,9 days
7175,159362.0,2018-10-02,2018-10-07,332764,151,59783.0,2018-09-24,2018-11-12,OTHER,L899 B965 L899E N185 G821 Z936 E639 D509 E871B...,8 days
7189,159373.0,2018-10-16,2018-10-17,222823,107,40155.0,2018-10-16,2018-10-16,OTHER,T814,0 days
7190,159373.0,2018-10-16,2018-10-17,222822,304,40155.0,2018-10-13,2018-10-15,OTHER,I652 I509 I252 I109,3 days
7191,159373.0,2018-10-16,2018-10-17,222824,304,40155.0,2018-10-17,2018-10-22,OTHER,T814 I652 I509 I252 I109 Z955,-1 days
7192,159373.0,2018-10-16,2018-10-17,222821,221,40155.0,2018-10-12,2018-10-13,OTHER,I652 I109 I509 I252,4 days
7205,126184.0,2013-10-31,2013-11-06,260908,301,46950.0,2013-10-18,2013-10-23,CFX,S1220 S2710 S2700 S224 S141 S132 S8210 S8260 S...,13 days
7206,126184.0,2013-10-31,2013-11-06,260910,331,46950.0,2013-10-31,2013-11-12,OTHER,G960 S132 I109,0 days
7210,124419.0,2013-10-02,2013-10-09,223867,521,40338.0,2013-09-26,2013-09-27,OTHER,T175 G359,6 days
7211,124419.0,2013-10-02,2013-10-09,223868,221,40338.0,2013-10-02,2014-01-19,OTHER,G359 J969 J189 J954 N390X R139,0 days
7216,102240.0,2010-03-07,2010-03-09,357357,221,64220.0,2010-02-28,2010-03-04,TUM,D430 C619 I109,7 days
7217,102240.0,2010-03-07,2010-03-09,357358,331,64220.0,2010-03-04,2010-03-17,TUM,D330 G936 G819 Z854J,3 days
7230,133281.0,2014-11-04,2014-11-05,62133,331,10933.0,2014-11-04,2014-11-20,ABM,G009 J189 I109 U822,0 days
7231,133281.0,2014-11-04,2014-11-05,62132,521,10933.0,2014-11-03,2014-11-04,OTHER,G960 I109 B181,1 days
7232,133821.0,2014-11-05,2014-11-20,62133,331,10933.0,2014-11-04,2014-11-20,ABM,G009 J189 I109 U822,1 days
7233,133821.0,2014-11-05,2014-11-20,62132,521,10933.0,2014-11-03,2014-11-04,OTHER,G960 I109 B181,2 days
7237,133307.0,2014-05-31,2014-06-01,258225,221,46467.0,2014-06-01,2014-06-05,ASAH,I608,-1 days
7238,133307.0,2014-05-31,2014-06-01,258224,331,46467.0,2014-05-31,2014-06-01,ASAH,I609,0 days
7241,133313.0,2014-06-05,2014-06-08,3667,221,648.0,2014-06-04,2014-06-05,AIS,I639 G810 R470A I660 E785,1 days
7242,133313.0,2014-06-05,2014-06-08,3668,331,648.0,2014-06-05,2014-06-08,AIS,I639 E785,0 days
7243,133314.0,2014-06-06,2014-06-15,297446,221,53549.0,2014-06-06,2014-06-06,TUM,D430,0 days
7244,133314.0,2014-06-06,2014-06-15,297447,331,53549.0,2014-06-06,2014-07-01,TUM,C793 G919 Z858,0 days
7253,133330.0,2014-07-07,2014-07-10,103729,331,18505.0,2014-06-30,2014-07-02,TBI,S065,7 days
7254,133330.0,2014-07-07,2014-07-10,103731,331,18505.0,2014-07-04,2014-07-21,OTHER,T810,3 days
7260,133335.0,2014-08-14,2014-08-14,220103,107,39686.0,2014-08-12,2014-08-14,SEP,G419,2 days
7261,133335.0,2014-08-14,2014-08-14,220104,221,39686.0,2014-08-14,2014-08-26,SEP,G419,0 days
7264,133351.0,2014-07-24,2014-08-08,313977,221,56525.0,2014-07-20,2014-07-24,OTHER,I770 I609 T812 G822 I109 N390X B962,4 days
7265,133351.0,2014-07-24,2014-08-08,313978,331,56525.0,2014-07-24,2014-08-20,ASAH,I609 Q278 J189 I109,0 days
7270,133360.0,2014-08-16,2014-08-17,26829,221,4775.0,2014-08-15,2014-08-20,AIS,I633 I109 E118 C220,1 days
7271,133360.0,2014-08-16,2014-08-17,26828,303,4775.0,2014-08-11,2014-08-15,AIS,I639 I109 E119 C220,5 days
7279,108114.0,2011-02-13,2011-02-22,259016,221,46597.0,2011-02-13,2011-02-13,ICH,I615,0 days
7280,108114.0,2011-02-13,2011-02-22,259017,331,46597.0,2011-02-13,2011-02-22,ICH,I615 J189 B182,0 days
7288,123314.0,2013-06-30,2013-07-02,609,301,113.0,2013-06-18,2013-06-19,OTHER,S318 G409 F431 Q850 J981 Z993,12 days
7289,123314.0,2013-06-30,2013-07-02,610,521,113.0,2013-06-30,2013-07-04,OTHER,L021 E039 G409 F431 Q850,0 days
7290,149169.0,2017-03-26,2017-04-04,71238,221,12680.0,2017-03-26,2017-03-27,AIS,I639 I726 I109,0 days
7291,149169.0,2017-03-26,2017-04-04,71239,331,12680.0,2017-03-27,2017-04-04,AIS,I639 I109 I726 J189 Z867A,-1 days